@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-header {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
  .m-plus {
    font-family: 'M PLUS 2';
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


